.set-display {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 100vh;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 290px) {
  img {
    max-width: 200px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  img {
    max-width: 250px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  img {
    max-width: 275px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 570px) {
  img {
    max-width: 275px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  img {
    max-width: 300px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 660px) {
  img {
    max-width: 200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  img {
    max-width: 400px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  img {
    max-width: 450px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  img {
    max-width: 400px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {
  img {
    max-width: 600px;
  }
}
